form {
    width: 90%;
    margin: 10px 5%;
}

table {
    width: 90%;
    margin: 10px 5%;
    border-collapse: collapse; 
}

thead > tr {
    border-bottom: 2px solid black;
}

tbody > tr {
    border-bottom: 1px solid #ccc;
}

th {
    cursor: pointer;
    text-align: left;
}

th.asc::after {
    content: " ˅ ";
}

th.dsc::after {
    content: " ˄ ";
}

td > a {
    text-decoration: none;
}
